$color-grey-light: #cccccc80; 
$color-white: #fff; 
$color-black: #000; 
$color-green: #34b990; 
$color-light-grey: #cbcdce; 
$color-grey-faint: #f7f9fb; 
$color-grey-mid: #cbcdce; 
$color-grey-form:#f0f0f0;