@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariableFont.ttf") format("ttf");
}

@import "@/assets/scss/components/button.scss";
@import "@/assets/scss/components/input.scss";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
