.button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  &.--black {
    background-color: #000;
    color: #ffffff;
  }

  &.--white {
    background-color: #fff;
    border: 0.5px solid #00000050;
    color: #000;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: #ff0000;
      color: #fff;
    }
    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
  &.--wide-primary {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
  }
  &.--wide-secondary {
    width: 90%;
  }
  @media (max-width: 768px) {
    &.--white,
    &.--wide-secondary {
      font-size: 0.75rem;
    }
  }
}
